.message {
    width: 30%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 20%;
    box-shadow: 0px 5px 5px 5px rgb(143, 142, 142);
}